@import url("reset.css");



/*General Styles*/

html {
    height: 100%;
}
body{
    width: 100%;
    height: 100%;	
    font-family: Helvetica, sans-serif;
    background: #F0F0E8;
    font-size: 12px;
    cursor: default;

}

#body1{
    width: 100%;
}

.body1_top{
    background: url(../img/2.png) repeat;
    height: 15px;
    width:100%;
    min-width: 1000px;
}

.body1_center{
    background: url(../img/3.png) repeat;
    height: 300px;
    width:100%;
    min-width: 1000px;
}

.body1_bottom{
    background: url(../img/1.png) repeat;
    height: 15px;
    width:100%;
    min-width: 1000px;
}
#body2 {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    background: white;

    -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

/*Header*/

#menu, #menu ul{
    margin:0;
    padding:0;
    list-style: none;
}
#menu {
    width: 1020px;
    height: 42px;
    margin: 0 auto;
    border: 1px solid #262323;
    background-color: #E9D6D6;

    background-image: -webkit-linear-gradient(#F2E6DC, #FCD2C2, #EB968A, #C75A73);
    background-image: -moz-linear-gradient(#F2E6DC, #FCD2C2, #EB968A, #C75A73);
    background-image: -o-linear-gradient(#F2E6DC, #FCD2C2, #EB968A, #C75A73);
    background-image: -ms-linear-gradient(#F2E6DC, #FCD2C2, #EB968A, #C75A73);
    background-image: linear-gradient(#F2E6DC, #FCD2C2, #EB968A, #C75A73);

    border-radius: 6px;

    -webkit-box-shadow: 0 1px 3px #362001;
    box-shadow: 0 1px 3px #362001;
    z-index: 100;
    position: absolute;
    left: -10px;
}



/*отключаем обтекание*/

#menu:after, #menu:before {
    content: '';
    display: table;
}
#menu:after{
    clear: both;
}
#menu{
    zoom: 1;
}

/*элементы списка*/

.border_right_list {
    float: left;
    position: relative;
    border-right: 1px solid #483434;

    -webkit-box-shadow: 1px 0 0 #262323;
    box-shadow: 1px 0 0 #262323;
    width: 203px;
}

.main_list:hover {
    -webkit-box-shadow: inset 0 1px 6px #362001;
    box-shadow: inset 0 1px 6px #362001;
}

.down{
    color: #96415A;
    float: left;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #C3ADAD;
    text-transform: inherit;
    width: 180px;
}

.main_list{
    text-decoration: none;
    text-transform: inherit;
    float: left;
    padding: 13px 10px;
    margin: 0 auto;
    width: 184px;
    text-align: center;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 0 #C3ADAD;
    position: relative;
}
.border_right_list2{
    position: relative;
    float:left;

}

.dd{


}

.main_list:hover {
    color: #795858;
}
.down:hover{
    color: black;
}
#menu li {
    color: #9D7878;

}
#menu .dd {
    //-moz-transition: all 0.2s ease-in-out 0s;
    background-color: #E1DEDE;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 1px #3D5056;
    display: block;
    left: 2px;
    margin: 20px 0 0;
    position: absolute;
    text-align: center;
    top: 42px;
    visibility: hidden;
    width: 199px;
    z-index: 1;
}

#menu li:hover ul{
    opacity: 0.8;
    visibility: visible;
    margin: 0;
}
#menu ul ul {
    top: 0;
    left: 150px;

    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
}


.clear{
    clear: both;
}

#menu li li {
    width: 150px;
    display: block;
}
.central_picture {
    height: 310px;
    width: 1000px;
    margin: 0 auto;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: 35px;
    z-index: 0;

    -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}


#header{
    top: -300px;
    position: relative;
    width: 1000px;
    margin: 0px auto;
}

.sate_name{
    font-size: 50px;
    font-family: 'Henny Penny', cursive;
    color: white;
    margin:10px;
}

.search
{
    float: right;
    width: 200px;
    position: relative;
}

.header_top{
    width: 1000px;
    margin: 0 auto;
}
#body2{
    margin-top: -310px;
    border-top: 1px solid gray;
    left: 1px;
    position: relative;
    background: #F7F5F5;
}

/*left_bar*/

#block-views-category-list-block{
    width: 180px;
    margin-top: 30px;
    position: absolute;

}
#left_bar{
    width: 180px;
    margin-top: 30px;
    position: absolute;
}

#block-views-category-list-block .views-row .views-field, .left_bar_menu_row, .row_item{
    background: -webkit-linear-gradient(#EB968A, #CC798C);
    background: -moz-linear-gradient(#EB968A, #CC798C);
    background: -o-linear-gradient(#EB968A, #CC798C);
    background: -ms-linear-gradient(#EB968A, #CC798C);
    background: linear-gradient(#EB968A, #CC798C);

    margin-top: 13px;
    margin-left: -15px;
    position: relative;
    padding: 5px 7px;
    box-shadow: 1px 1px 2px #262323;
}
.arrow{
    width: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    border-top: 10px solid #976B57;
    border-left: 15px solid transparent;
    top:101%;
    left: 0;
}
.field-content a, .left_menu{
    text-decoration: none;
    color: #FFFFFF;
}

.field-content a:hover, .left_menu:hover, .active{
    color: #795858;
}
#content{
    margin-left: 185px;
    width: 820px;
    font-size: 14px;

}
.scheme, .view-id-shema .views-row, .view-id-taxonomy_term .views-row{
    margin-top: 17px;
    margin-left: 17px;
    border-radius: 5px;
    width: 180px;
    height: 220px;
    float: left;

    box-shadow: 1px 1px 2px gray;
    -webkit-box-shadow: 1px 1px 2px gray;
    -moz-box-shadow: 1px 1px 2px gray;
    background: white;
    border: 1px solid rgba(190, 190, 190, .6);
}
.img_gallery, .view-id-shema .views-field-field-preview .field-content{
    width: auto;
    height: 160px;
    max-width: auto;
    padding-left: 10px;
    max-height: 160px;
    margin: 5px auto;
    display: block;

}
.bottom_image{
    float: left;
    margin-left: 10px;
    width: 80px;
    font-size: 12px;    
}
.see_more, .views-field-view-node {
    background: #40E117;

    background: -webkit-linear-gradient(top, #FFF499,  #FFA799);
    background: -moz-linear-gradient(top,  #FFF499,  #FFA799);
    background: -o-linear-gradient(top,  #FFF499,  #FFA799);
    background: -ms-linear-gradient(top,  #FFF499,  #FFA799);
    background: linear-gradient(top,  #FFF499,  #FFA799);
    width: 75px;
    height: 20px;
    display: block;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    margin-left: 92px;

    -webkit-box-shadow: 0 0 1px 3px rgba(163,125,165,.1);
    box-shadow: 0 0 1px 3px rgba(163,125,165,.1);
    border: 1px solid #A37DA5;
    text-decoration: none;
    color: #782A41;
    font-size: 12px;
    line-height: 1.3em;
}



.see_more:hover, .views-field-view-node:hover{
    -webkit-box-shadow: 0 0 1px 3px rgba(0,0,0,.1), inset 0 0 6px 1px #A37DA5;
    box-shadow: 0 0 1px 3px rgba(0,0,0,.1), inset 0 0 4px 3px #FFF27A;
    color: #BB4A38;
}

.see_more:active, .views-field-view-node:active{
    -webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,.1);
    box-shadow: inset 0 0 3px 1px rgba(255,255,255,.1);

    background: -webkit-linear-gradient(top, #FFA799, #FFF499);
    background: -moz-linear-gradient(top, #FFA799, #FFF499);
    background: -o-linear-gradient(top, #FFA799, #FFF499);
    background: -ms-linear-gradient(top, #FFA799, #FFF499);
    background: linear-gradient(top, #FFA799, #FFF499);
    color: black;
}

.topics{
    color:#ECAB5B;
    font-size: 25px;
    margin: 5px;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}
.article{
    margin: 10px;
}
.icons{
    border-radius: 5px;
    float: left;
    box-shadow: 1px 1px 2px gray;
    background: white;
    padding: 8px;
    margin: 6px 11px 6px 1px;
    text-align: center;
}
.icons img{
    width: 135px;
    height: 180px;
}

.text{
    margin: 20px 10px 10px;
    text-align: justify;
    display: block;
    line-height: 1.5;
}

.external_links{
    color: #31B112;
    text-decoration: none;
    font-weight: bold;
}
.external_links:hover{
    color: #ECAB5B;
    font-weight: bold;
}
.content2{
    margin: 10px;

}

/*Footer*/


#top_footer{
    background: #CC798C;
    height: 200px;
    width: 100%;

}
#bottom_footer{
    background: #CC798C;
    height: 30px;
    width: 100%;

}

#coloums{
    width: 1000px;
    margin: 0 auto;
    height: 180px;

}

.footer_line {
    width: 1000px;
    margin: 0 auto;
    height: 3px;
    background: white;

    background: -webkit-linear-gradient(left, #E2949B, white, #E2949B);
    background: -moz-linear-gradient(left, #E2949B, white, #E2949B);
    background: -o-linear-gradient(left, #E2949B, white, #E2949B);
    background: -ms-linear-gradient(left, #E2949B, white, #E2949B);
    background: linear-gradient(left, #E2949B, white, #E2949B);
}


.footer_coloumn{
    width: 300px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
}
#bottom_footer {
    min-width: 1000px;
    margin: 0 auto;
    position: absolute;
    font-size: 12px;
    color: white;
}

#bottom_footer p {
    width: 300px;
    margin: 0 auto;
    padding-left: 150px;
}

.clear_fix {
    clear: both;
    height: 0px;
}

#footer {
    min-width: 1000px;
    min-height: 20px;
    position: relative;
}
.menu li a{
    line-height: 22px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-weight: 300;

}

.menu li a:hover{
    color: #795858;
}
.menu li a.active{
    color: #96415A;
}

.footer_coloums{
    line-height: 1,5;
}
.nivo-caption{
    display: none;
}
/*search form*/
#search input[type=text] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 12px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
#search input[type=text] {
    background: #ededed url(../img/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 15px; /* Ширина по умолчанию */
    //padding-left: 10px;

    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#search input[type=text]:hover{
    background-color: #fff;
}
#search input[type=text]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;

    -webkit-box-shadow: 0 0 5px rgba(250,250,0,.5);
    -moz-box-shadow: 0 0 5px rgba(250,250,0,.5);
    box-shadow: 0 0 5px rgba(250,250,0,.5); /* Эффект свечения */
}
#search{
    width:180px;
    padding-bottom: 20px;


}
#edit-actions{
    display: none;
}
#triptych{
    width:1000px;
    margin: 0 auto;
    height: 200px;

    background: none repeat scroll 0 0 #F7F5F5;

    left: 1px;
    -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    border-right: 1px solid gray;
    border-left: 1px solid gray;

    position: relative;
}
.separator{
    width: 2px;
    margin: 0 auto;
    height: 200px;
    background: grey;
    border-left: solid 1px #fff;
    float:left;

    background: #f5f5f7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2UyZTJlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2RiZGNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M5Y2JkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2RiZGNlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU3ZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f5f5f7 0%, #e2e2e8 31%, #dbdce3 38%, #c9cbd9 50%, #dbdce3 66%, #e6e7ec 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f7), color-stop(31%,#e2e2e8), color-stop(38%,#dbdce3), color-stop(50%,#c9cbd9), color-stop(66%,#dbdce3), color-stop(100%,#e6e7ec)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f7 0%,#e2e2e8 31%,#dbdce3 38%,#c9cbd9 50%,#dbdce3 66%,#e6e7ec 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f7 0%,#e2e2e8 31%,#dbdce3 38%,#c9cbd9 50%,#dbdce3 66%,#e6e7ec 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f7 0%,#e2e2e8 31%,#dbdce3 38%,#c9cbd9 50%,#dbdce3 66%,#e6e7ec 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f7 0%,#e2e2e8 31%,#dbdce3 38%,#c9cbd9 50%,#dbdce3 66%,#e6e7ec 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f7', endColorstr='#e6e7ec',GradientType=0 ); /* IE6-8 */
}
#triptych-wrapper{


}
/*end search form*/
.search_form{
    width: 250px;
    height: 29px;
    border-radius: 15px;
    float: right;
    margin-bottom: 10px;
    top: 25px;
    right: 5px;
    position: absolute;
    border-color: #47004D;

}

.search_form{
    width: 148px;
    height: 18px;


    border-radius: 5px;
    float: right;
    margin-bottom: 10px;
    top: 25px;
    right: 5px;
    position: absolute;
    box-shadow: 0 0 5px 2px rgba(255,245,246,.6);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(255,245,246,0.6);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255,245,246,0.6);
}

.search_form img{
    width: 30px;
    height: 30px;
    top: -6px;
    position: absolute;
    left: 120px;
}





#block-views-shema-block .views-row{
    margin-top: 17px;
    margin-left: 17px;
    border-radius: 5px;
    width: 180px;
    height: 220px;
    float: left;
    box-shadow: 1px 1px 2px gray;
    background: #F2E6DC;
    background: -webkit-linear-gradient(top, white, #F0F0E8);
    background: -moz-linear-gradient(top, white, #F0F0E8);
    background: -o-linear-gradient(top, white, #F0F0E8);
    background: -ms-linear-gradient(top, white, #F0F0E8);
    background: linear-gradient(top, white, #F0F0E8);

}
#block-views-shema-block .views-row .views-field-field-preview img{
    width: auto;
    height: 160px;
    max-width: auto;
    max-height: 160px;
    margin: 5px auto;
    display: block;
}

#block-views-shema-block .views-row .views-field-field-size{
    float: left;
    margin-left: 10px;
    width: 80px;
    font-size: 12px;
}
.icons2 {
    background: none repeat scroll 0 0 white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px gray;
    height: 165px;
    margin: 6px 11px 6px 0;
    padding: 8px;
    text-align: center;
    width: 180px;
}
.field-items {
    // margin: 10px 15px 0 20px;
}

.node-shema.view-mode-full{
    width: 800px;
    height: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
}

.more{
    width: 320px;
    height: 180px;
    position: absolute;
    top: 25px;
    display: inline-block;
}

.files{
    float: left;
    height: 40px;
    width: 310px;
    display: inline-block; 
}

.line{
    height: 2px;
    width: 300px;
    background: white;
    background: -webkit-linear-gradient(left,  white, gray, white);
    background: -moz-linear-gradient(left,  white, gray, white);
    background: -o-linear-gradient(left,  white, gray, white);
    background: -ms-linear-gradient(left,  white, gray, white);
    background: linear-gradient(left, white, gray, white);
    margin: 5px;
    display:inline-block;
}


.file_tipe{
    width: 90px;
    height: 20px;
    box-shadow: 0 0 2px gray;
    margin: 10px 0 0 10px;
}

.roller, #block-views-scheme-cat-block, #block-views-newest-schemes-block{
    height: auto;
    width: 800px;
    background: #F7F5F5;
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    float: left;
    position: relative;
    margin-bottom: 20px;
}

.icons_in_roller{
    border-radius: 5px;
    width: -moz-content-max;
    height: 131px;
    box-shadow: 1px 1px 2px gray;
    background: white;
    padding: 8px;
    float:left;
    margin: 10px 0 0 10px;
    border: 1px solid rgba(170,170,170, 0.6);
}

.left_row{
    margin: 8px; 
    height:30px; 
    weight:auto;
    position: absolute;
    top: 55px;
    left: -40px;
}

.right_row{
    margin: 8px; 
    height:30px; 
    weight:auto;
    position: absolute;
    top: 55px;
    left: 696px;
}

.file_tipe2{
    width: 55px;
    height: 20px;
    box-shadow: 0 0 2px gray;
    margin: 10px 0 0 10px;
}

.like_block{
    width: 230px;
    height: 190px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    position: absolute;
    top: 15px;
    left: 745px;
    padding: 5px;
}

.ne_rabotaet {
    background: #40E117;
    background: -webkit-linear-gradient(top, #FFF499,  #FFA799);
    background: -moz-linear-gradient(top,  #FFF499,  #FFA799);
    background: -o-linear-gradient(top,  #FFF499,  #FFA799);
    background: -ms-linear-gradient(top,  #FFF499,  #FFA799);
    background: linear-gradient(top,  #FFF499,  #FFA799);
    width: 100px;
    height: 20px;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
    -webkit-box-shadow: 0 0 1px 3px rgba(163,125,165,.1);
    box-shadow: 0 0 1px 3px rgba(163,125,165,.1);
    border: 1px solid #A37DA5;
    text-decoration: none;
    color: #782A41;
    position: absolute;
    margin: 0 auto 10px;
    top: 153px;
    left: 212px;
}


.ne_rabotaet:hover {
    -webkit-box-shadow: 0 0 1px 3px rgba(0,0,0,.1), inset 0 0 6px 1px #A37DA5;
    box-shadow: 0 0 1px 3px rgba(0,0,0,.1), inset 0 0 4px 3px #FFF27A;
    color: #BB4A38;
}

.ne_rabotaet:active {
    -webkit-box-shadow: inset 0 0 3px 1px rgba(255,255,255,.1);
    box-shadow: inset 0 0 3px 1px rgba(255,255,255,.1);

    background: -webkit-linear-gradient(top, #FFA799, #FFF499);
    background: -moz-linear-gradient(top, #FFA799, #FFF499);
    background: -o-linear-gradient(top, #FFA799, #FFF499);
    background: -ms-linear-gradient(top, #FFA799, #FFF499);
    background: linear-gradient(top, #FFA799, #FFF499);
    color: black;
}


.social{
    width: auto;
    height: 20px;
}

.icon_podrobnee{
    border-radius: 5px;
    max-height: 165px;
    max-width: 170px;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 2px gray;
    background: white;
    padding: 8px;
    margin: 6px 11px 6px 0;
    text-align: center;
}
.pager{
    margin-top:5px !important;
    padding-top:15px !important;
    font-size:14px;
}
#block-views-newest-schemes-block h2, #block-views-scheme-cat-block h2{
    color: #A37DA5;
    font-size:18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#edit-search-block-form--2{
    color: #666;
    height: 13px;
    border-radius: 5px 5px 5px 5px;
    width: 145px;
    border: 1px solid grey;
    
}
.format{
    position: relative;
    top: -20px;
    left:20px;
    font-size: 18px;
    font-weight: 500;
}


